.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.subsriber__table {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  max-height: calc(100vh - 250px);
  display: block;
}