@import "../../../variables.scss";

.uploadwrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    display: flex;
    flex-direction: column;

    .uploadwrapper__icon {
      padding: 10px;

      &:before {
        color: $secondary-color;
      }
    }
    span {
      margin-top: 15px;
      display: block;
    }
  }

}

.dropdown {
  padding: 5px !important;
}

.actionsgroup__dropdown{
  padding: 8px !important;
}

.actionsgroup__button{
  background: transparent !important;
    color: white !important;
    padding: 5px !important;
}

