$primary-color: #820d13;
$secondary-color: #3c363c;
$primary-border-color: #282262;
$green: green;
$highlight-color: #1b306f47;
$checkbox-checked-color: $green;
$text-color: white;
$border-color: #c1c1c1;
$top-nav: lightgray;